body, html, p, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 10vh;
    background: linear-gradient(90deg, #1f2732, #343a42); 
    border-bottom: 2px solid #30363d;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    color: #f0f6fc;
}

.app-title {
    margin: 0;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    gap: 2rem;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #c9d1d9;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
}


.nav-link:hover {
    color: #58a6ff;
    background-color: rgba(88, 166, 255, 0.1);
    box-shadow: 0 4px 8px rgba(88, 166, 255, 0.2);
}


.nav-link.active {
    color: #79c0ff;
    background: rgba(44, 88, 255, 0.2);
    border: 1px solid #58a6ff;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(44, 88, 255, 0.4);
}


.nav-link::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: #58a6ff;
    transition: width 0.4s ease;
}

.nav-link:hover::after {
    width: 100%;
}


.icon {
    font-size: 1.6rem;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav-link:hover .icon {
    transform: scale(1.2);
    color: #58a6ff;
}

